<section class="guest__view" *ngIf="isGuestActive; else authView">
  <div class="guest__view-img">
    <img src="../../../../../assets/guest.jpg" width="100%" alt="Social">
  </div>
  <p class="text-4_medium margin-large"> Please <a routerLink="/">log in or sign up</a> to view this section.</p>
</section>

<ng-template #authView>
  <section class="section__referral">
    <article class="section__referral-container">
      <h2 class="text-4_semibold margin-medium"> Refer a friend</h2>
      <p class="text-5_regular">Complete the form below with your friend's data and hit "Send" in order to be able to
        refer.
        lectus.
      </p>
      <form class="referral-form margin-large">
        <div class="form-group">
          <span class="form-icon-name"></span>
          <input class="basic-input text-5_regular" placeholder="Name" type="text" id="name" name="name" required>
          <label class="basic-label text-6_regular" for="name">Full Name</label>
        </div>
        <div class="form-group">
          <span class="form-icon-email"></span>
          <input class="basic-input text-5_regular" placeholder="Email" type="email" id="email" name="email" required>
          <label class="basic-label text-6_regular" for="email">Email</label>
        </div>

        <div class="form-button">
          <button type="submit" class="btn-dark">Send</button>
        </div>
      </form>
    </article>
  </section>

  <img src="../../../../../assets/store.jpg" width="100%" alt="Store" class="margin-large img-store">

  <section class="section__howto">
    <article class="section__howto-container">
      <h2 class="text-4_semibold margin-medium"> How it works?</h2>
      <p class="text-5_regular">Get started by referring one of your friends and once with their
        registration
        and first purchase you will arrive at the first referral level. In return for your kind gesture
        you
        get 10% discount applicable on your next purchases.
      </p>
      <div class="readmore-container margin-small">
        <img src="../../../../../assets/discount10.png" alt="Discount 10">
        <div>
          <button type="text" class="btn-dark" (click)="showMoreFc()">
            {{ showMore ? 'Show Less' : 'Show More'}}</button>
        </div>
      </div>
      <div *ngIf="showMore">
        <p class="text-5_regular">his does not end here. If your friend refers another person, upon their
          registration and first purchase you get another discount of 5%.
        </p>
        <img src="../../../../../assets/discount5.png" alt="Discount 5">
        <p class="text-5_regular">We want to show you our appreciation even further and so, with each of
          your
          friend's and friend's friend further purchases you receive discounts of 2%.
        </p>
        <img src="../../../../../assets/discount2.png" alt="Discount 2">
      </div>
    </article>
  </section>
</ng-template>
