.intro-wrapper {
  height: 100vh;
  background: url("../../../../assets/bg-intro.png");
  color: white;

  p,
  h4 {
    text-align: center;
  }

  .iqos-logo {
    margin: 0 10%;
  }

  .form-group_select {
    width: 35rem;
    margin: 0 auto;
  }

  .text-6_regular {
    margin-top: 5vh;
  }

  .down-arrow {
    padding: 0 2px;

    &::after {
      content: "";
      display: inline-block;
      height: 16px;
      width: 16px;
      background: url("../../../../assets/icons/downarrow-icon.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center 2px;
    }
  }
}
