@import "../../../../styles/general/colors.scss";

.intro-wrapper {
  height: 100vh;
  background: url("../../../../assets/bg-intro.png");

  p,
  h4 {
    color: $white-col;
    text-align: center;
  }

  .iqos-logo {
    margin: 0 10%;
  }

  .form-group_select {
    width: 35rem;
    margin: 0 auto;
  }

  .text-6_regular {
    margin-top: 5vh;
  }
}
