<div class="intro-wrapper">
  <div class="layout-intro">
    <img src="../../../../assets/iqos-logo.png" alt="iqos logo" width="80%" class="iqos-logo" />
    <p class="text-6_regular margin-medium">
      This website has information about smoke-free products and are only for
      adults in Denmark, who would otherwise continue to smoke or use nicotine
      products.
    </p>
    <h4 class="text-5_semibold margin-large">
      Are you over 18 years old and are you a smoker or user of other nicotine
      products?
    </h4>
    <p class="text-5_regular margin-medium">English <span class="down-arrow"></span></p>

    <form>
      <div class="form-group_select">
        <mat-select class="mat-select" placeholder="Month" name="month">
          <mat-option value="january"> January </mat-option>
          <mat-option value="february"> February </mat-option>
        </mat-select>
        <mat-select class="mat-select" placeholder="Year" name="month">
          <mat-option value="1920"> 1920 </mat-option>
          <mat-option value="1921"> 1921 </mat-option>
        </mat-select>
      </div>
      <button class="btn-dark" type="submit">Confirm</button>
    </form>

    <p class="text-6_regular privacy-policy">
      Read our privacy policy <a href="#" class="basic-link"> here </a>
    </p>
  </div>
</div>
