<section class="guest__view" *ngIf="isGuestActive; else authView">
  <div class="guest__view-img">
    <img src="../../../../../assets/guest.jpg" width="100%" alt="Social">
  </div>
  <p class="text-4_medium margin-large"> Please <a routerLink="/">log in or sign up</a> to view this section.</p>
</section>

<ng-template #authView>
  <section class="nodevice__view" *ngIf="!hasDevice; else deviceView">
    <div class="nodevice__view-img">
      <img src="../../../../../assets/purchase.jpg" width="100%" alt="Purchase device">
    </div>
    <p class="text-4_medium margin-large"> Purchase a device <a routerLink="/dashboard/products"> here </a> in order to
      experience more perks of the IQOS app.</p>
  </section>
  <ng-template #deviceView>
    <section class="section__device-status">
      <article class="section__device-status-container">
        <div class="device-status-img"
          [ngStyle]="{'background-image': 'url(../../../../../assets/products/devices/' + hasDevice + '.png)'}">

        </div>
        <div class="device-status-data">
          <h5 class="text-5_regular"> IQOS 3 DUO </h5>
          <div class="div-stats margin-medium">
            <p class="text-6_regular">DATE OF PURCHASE</p>
            <p class="text-6_medium">13/04/2020</p>
          </div>
          <div class="div-stats margin-medium">
            <p class="text-6_regular">FREQUENCY OF USE</p>
            <p class="text-6_medium">6.4 times / day</p>
          </div>
          <div class="div-stats margin-medium">
            <p class="text-6_regular">BATTERY STATUS</p>
            <p class="text-6_medium">Unavailable</p>
          </div>
          <div class="div-stats margin-medium">
            <p class="text-6_regular">BATTERY LIFETIME</p>
            <p class="text-6_medium">Lengthy</p>
          </div>
        </div>
      </article>
    </section>

    <section class="section__device-settings">
      <article class="section__device-settings-container">
        <h4 class="text-4_semibold"> SETTINGS </h4>
        <div class="settings-option margin-medium">
          <div class="content">
            <p class="text-5_regular"> IQOS Restraint </p>
            <p class="text-6_regular"> Integer ut sem eu ipsum aliquam semper sit amet id turpis. </p>
          </div>
          <div class="onoffswitch-restraint">
            <input type="checkbox" name="onoffswitch-restraint" class="onoffswitch-restraint-checkbox"
              id="myonoffswitch-restraint" checked>
            <label class="onoffswitch-restraint-label" for="myonoffswitch-restraint"></label>
          </div>
        </div>
        <div class="settings-option margin-medium">
          <div class="content">
            <p class="text-5_regular"> Daily Limit </p>
            <p class="text-6_regular"> Integer ut sem eu ipsum aliquam semper sit amet id turpis. Curabitur feugiat
              neque
              lectus. </p>
          </div>
          <div class="action">
            <input class="settings-input" type="number" placeholder="10">
          </div>
        </div>
        <div class="settings-option margin-medium">
          <div class="content">
            <p class="text-5_regular"> Battery Notifications </p>
            <p class="text-6_regular"> Integer ut sem eu ipsum aliquam semper sit amet id turpis. </p>
          </div>
          <div class="onoffswitch-battery">
            <input type="checkbox" name="onoffswitch-battery" class="onoffswitch-battery-checkbox"
              id="myonoffswitch-battery" checked>
            <label class="onoffswitch-battery-label" for="myonoffswitch-battery"></label>
          </div>
        </div>
      </article>
    </section>
  </ng-template>
</ng-template>
