<section class="section__device-status">
  <article class="section__device-status-container">
    <div class="device-status-img">

    </div>
    <div class="device-status-data">
      <h5 class="text-5_regular"> IQOS 3 DUO </h5>
      <div class="div-stats margin-medium">
        <p class="text-6_regular">DATE OF PURCHASE</p>
        <p class="text-6_medium">13/04/2020</p>
      </div>
      <div class="div-stats margin-medium">
        <p class="text-6_regular">FREQUENCY OF USE</p>
        <p class="text-6_medium">6.4 times / day</p>
      </div>
      <div class="div-stats margin-medium">
        <p class="text-6_regular">BATTERY STATUS</p>
        <p class="text-6_medium">Unavailable</p>
      </div>
      <div class="div-stats margin-medium">
        <p class="text-6_regular">BATTERY LIFETIME</p>
        <p class="text-6_medium">Lengthy</p>
      </div>
    </div>
  </article>
</section>

<section class="section__device-settings">
  <article class="section__device-settings-container">
    <h4 class="text-4_semibold"> SETTINGS </h4>
    <div class="settings-option margin-medium">
      <div class="content">
        <p class="text-5_regular"> IQOS Restraint </p>
        <p class="text-6_regular"> Integer ut sem eu ipsum aliquam semper sit amet id turpis. </p>
      </div>
      <div class="action onoffswitch">
        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
        <label class="onoffswitch-label" for="myonoffswitch"></label>
      </div>
    </div>
    <div class="settings-option margin-medium">
      <div class="content">
        <p class="text-5_regular"> Daily Limit </p>
        <p class="text-6_regular"> Integer ut sem eu ipsum aliquam semper sit amet id turpis. Curabitur feugiat neque
          lectus. </p>
      </div>
      <div class="action">
        <input class="settings-input" type="number" placeholder="10">
      </div>
    </div>
    <div class="settings-option margin-medium">
      <div class="content">
        <p class="text-5_regular"> Battery Notifications </p>
        <p class="text-6_regular"> Integer ut sem eu ipsum aliquam semper sit amet id turpis. </p>
      </div>
      <div class="action onoffswitch">
        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
        <label class="onoffswitch-label" for="myonoffswitch"></label>
      </div>
    </div>
  </article>
</section>
