<nav>
  <div class="nav__top">
    <img src="../../../../assets/icons/menu-icon.png" alt="Menu" width="25">
    <h1 class="text-3_bold"> Community </h1>
    <img src="../../../../assets/icons/bag-icon.png" alt="Cart" width="25">
  </div>

  <div class="nav__bottom">
    <p class="text-4_medium active" [routerLink]="[{outlets: {dashboard: ['community']}}]"> General </p>
    <p class="text-4_medium"> Referal </p>
  </div>
</nav>

<aside style="display: none;">
  <app-sidebar></app-sidebar>
</aside>
