<nav>
  <div class="nav__top">
    <img src="../../../../assets/icons/menu-icon.png" alt="Menu" width="25" (click)="toggleSidebar()">
    <h1 class="text-3_bold"> {{userNavigation.parent | titlecase }}</h1>
    <img src="../../../../assets/icons/bag-icon.png" alt="Cart" width="25" routerLink="view" (click)="navigateToCart()">
  </div>

  <div class="nav__bottom">
    <p [ngClass]="{'active': userNavigationSelected === userNavigation.children[0], 'text-4_medium': true}"
      routerLink="{{userNavigation.children[0]}}" (click)="modifySelected($event)">
      {{userNavigation.children[0] | menuformatter | titlecase}}
    </p>
    <p [ngClass]="{'active': userNavigationSelected === userNavigation.children[1], 'text-4_medium': true}"
      routerLink="{{userNavigation.children[1]}}" (click)="modifySelected($event)">
      {{userNavigation.children[1] | menuformatter | titlecase}}
    </p>
  </div>
</nav>

<aside [ngStyle]="{'display': isSidebarOpen ? 'block' : 'none'}">
  <app-sidebar (close)='closeSidebar($event)'></app-sidebar>
</aside>
