@import "../../../../styles/general/colors.scss";

.authentication-wrapper {
  min-height: 100vh;
  background: url("../../../../assets/bg-login.png");
  background-position: cover;

  .iqos-logo {
    margin: 0 10%;
  }

  .authentication-options {
    color: $beigeshade0-col;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    * {
      border-bottom: 1px solid $beigeshade0-col;
      width: 50%;
      text-align: center;
      display: inline-block;
      opacity: 0.3;
    }

    &_login {
      margin-right: 2rem;
    }

    .active {
      opacity: 1;
    }
  }
}
