/* You can add global styles to this file, and also import other style files */

@import "./general/mixins.scss";
@import "./general/colors.scss";
@import "./general/typography.scss";
@import "./general/base.scss";
@import "./general/forms.scss";
@import "./general/layout.scss";
@import "./general/buttons.scss";

// Safari != Chrome on iPhone

html {
  width: 100vw;
}

// Overwriting mat select

form {
  .mat-select {
    background-color: $blueshade1-col;
    color: $white-col;
    font-family: "NotoSans Bold";
    font-size: 1.6rem;
    letter-spacing: 0.75px;
    width: 100px;
    border: 1px solid $greyshade2-col;
    padding: 8px 20px;
    background: url("../assets/icons/downarrow-icon.png") no-repeat 90% $blueshade1-col;
    margin: 0.75rem;

    .mat-select-placeholder,
    .mat-select-value-text {
      color: white;
    }

    .mat-select-arrow {
      opacity: 0;
    }

    .mat-select-panel {
      border-radius: 0;
      background-color: $greyshade1-col;
    }
  }
}

// Scrollbar from https://codepen.io/GhostRider/pen/GHaFw

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
  background-color: rgba(204, 204, 204, 0.274);
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-color: #FFF;
  background-image: -webkit-linear-gradient(90deg,
      #0D4540 0%,
      #0D4540 25%,
      transparent 100%,
      #0D4540 75%,
      transparent)
}

body {
  min-height: 100vh;
  background: url("../assets/bg-app-green&80op.PNG");
  background-size: cover;
}

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #4D888B;
}

.mat-checkbox .mat-checkbox-frame {
  border-width: 1px;
  border-radius: 0;
  border-color: #ABABAB;
  background-color: white;

}

mat-dialog-container#modal-cart {
  background-color: $pinegreenshade0-col;
  border: 1px solid $pinegreenshade2-col;
  color: $pinegreenshade2-col;
  overflow-y: hidden;

  &::-webkit-scrollbar {
    display: none;
  }
}
