@import "../../../../../styles/general/colors.scss";

section {
  padding: 2rem;
}

.guest__view {
  height: calc(100vh - 130px);

  &-img {
    outline: 1px solid white;
    padding: 5px;
    animation: increaseOpacity 1s forwards;
  }

  p {
    text-align: center;
  }

  a {
    color: $beigeshade0-col;
  }
}

.text-5_regular {
  color: $pinegreenshade0-col;
}

.community__coupons {
  .discount {
    display: flex;
    align-items: center;

    img {
      width: 200px;
    }

    * {
      padding: 1rem 2rem;
    }
  }

  .btn-dark {
    width: inherit;
  }
}

.community__threads {
  article:first-of-type {
    margin-top: 0;
  }

  &-thread {
    width: 95%;
    background-image: url("../../../../../assets/bg-el.png");
    border: 1px solid $pinegreenshade4-col;
    padding: 1.5rem 1rem 2rem 1rem;
    position: relative;
    box-shadow: $light-shadow;

    .comment {
      float: right;
      position: relative;
      z-index: 2;
    }

    .text-6_semibold {
      color: $pinegreenshade1-col;
    }

    .text-5_semibold,
    .text-6_semibold,
    .text-5_regular {
      position: relative;
      z-index: 2;
    }

    .btn-dark {
      width: 60%;
      position: absolute;
      margin: 0;
      margin-left: 12%;
      box-shadow: $light-shadow;
    }
  }
}

.community__events {
  &-ev {
    display: grid;
    grid-template-columns: 25px 1fr 4fr;

    .events {
      margin: auto 0;
    }

    .text-6_regular {
      margin: auto;
    }

    .img-button {
      margin-left: 1rem;
      background-size: cover;
      background-position: center;
      border: 1px solid $greyshade2-col;
      height: 60px;

      .btn-dark {
        width: 10px;
        margin: 0;
        height: 44px;
        float: right;
        border-right: 0;
        border-top: 0;

        &::after {
          margin-left: -5px;
        }
      }
    }

    .img-button-1 {
      background-image: url("../../../../../assets/event-ITA.jpg");
    }

    .img-button-2 {
      background-image: url("../../../../../assets/event-RUS.jpg");
    }

    .img-button-3 {
      background-image: url("../../../../../assets/event-UKR.jpeg");
    }
  }
}

.blur-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 17px;
  background-image: url("../../../../../assets/bg-menu-2.png");
  margin: -2rem -1rem;
  clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
  z-index: 0;
}
