<div class="initialization">
  <div class="layout-tour-1" (swipeLeft)="onSwipeLeft($event)" (swipeRight)="onSwipeRight($event)"
    [ngStyle]="{'animation': toursSwipedLeft === tours[0] ? 'swipeLeft 0.5s forwards' : toursSwipedRight === tours[0] ? 'swipeRight 0.5s forwards' : toursSwipedUp === 'general' ? 'swipeUp 0.5s forwards' : 'none'}">
    <div class="layout-tour tour-1">
      <a routerLink="../dashboard/general" class="skip-tour">
        <img src="../../../../assets/icons/dashboard-icon.png" width="25" alt="Dashboard">
        <span class="text-6_regular"> Skip Tour </span>
      </a>
      <div class="tour-information">
        <div class="tour-tracker">
          <h1 class="text-1_bold">01</h1>
          <div class="swipe-visual-tracker">
            <p class="swipe-visual_1 active"> &nbsp; &nbsp; &nbsp; &nbsp;</p>
            <p class="swipe-visual_2"> &nbsp; &nbsp; &nbsp; &nbsp;</p>
            <p class="swipe-visual_3"> &nbsp; &nbsp; &nbsp; &nbsp; </p>
          </div>
        </div>
        <h2 class="text-2_semibold margin-small">IQOS CLUB</h2>
        <p class="text-5_regular">Embrace an online community that awaits for you with various topics and enjoy
          limitless
          discount opportunities.</p>
        <!-- routerLink="../dashboard/general" -->
        <div class="tour-seemore margin-medium general" (swipeup)="onSwipeUp($event)">
          <img src="../../../../assets/icons/seemore-icon.png" alt="See more" width="20"> <br>
          <p class="text-6_regular">Swipe to see more</p>
        </div>
      </div>
    </div>
  </div>

  <div class="layout-tour-2" (swipeLeft)="onSwipeLeft($event)" (swipeRight)="onSwipeRight($event)"
    [ngStyle]="{'animation': toursSwipedLeft === tours[1] ? 'swipeLeft 0.5s forwards'
   : toursSwipedRight === tours[1] ? 'swipeRight 0.5s forwards' :  toursSwipedUp === 'products' ? 'swipeUpTranslated 0.5s forwards' : 'none', 
   'transform': toursSwipedRight === tours[2] ? 'translateX(0)' : toursSwipedLeft === tours[2] ? 'translateX(0)' : 'translateX(100vw)' }">
    <div class="layout-tour tour-2">
      <a routerLink="../dashboard/general" class="skip-tour">
        <img src="../../../../assets/icons/dashboard-icon.png" width="25" alt="Dashboard">
        <span class="text-6_regular"> Skip Tour </span>
      </a>
      <div class="tour-information">
        <div class="tour-tracker">
          <h1 class="text-1_bold">02</h1>
          <div class="swipe-visual-tracker">
            <p class="swipe-visual_1 "> &nbsp; &nbsp; &nbsp; &nbsp;</p>
            <p class="swipe-visual_2 active"> &nbsp; &nbsp; &nbsp; &nbsp;</p>
            <p class="swipe-visual_3"> &nbsp; &nbsp; &nbsp; &nbsp; </p>
          </div>
        </div>
        <h2 class="text-2_semibold margin-small">IQOS SHOP</h2>
        <p class="text-5_regular">Get easy and fast access to purchasing your favorite products and applying the
          discounts
          earned.</p>
        <div class="tour-seemore margin-medium products" (swipeup)="onSwipeUp($event)">
          <img src="../../../../assets/icons/seemore-icon.png" alt="See more" width="20"> <br>
          <p class="text-6_regular">Swipe to see more</p>
        </div>
      </div>
    </div>
  </div>

  <div class="layout-tour-3" (swipeLeft)="onSwipeLeft($event)" (swipeRight)="onSwipeRight($event)"
    [ngStyle]="{'animation': toursSwipedLeft === tours[2] ? 'swipeLeft 0.5s forwards' : toursSwipedRight === tours[2] ? 'swipeRight 0.5s forwards' :  toursSwipedUp === 'my-iqos' ? 'swipeUp 0.5s forwards' : 'none'}">
    <div class="layout-tour tour-3">
      <a routerLink="../dashboard/general" class="skip-tour">
        <img src="../../../../assets/icons/dashboard-icon.png" width="25" alt="Dashboard">
        <span class="text-6_regular"> Skip Tour </span>
      </a>
      <div class="tour-information">
        <div class="tour-tracker">
          <h1 class="text-1_bold">03</h1>
          <div class="swipe-visual-tracker">
            <p class="swipe-visual_1"> &nbsp; &nbsp; &nbsp; &nbsp;</p>
            <p class="swipe-visual_2"> &nbsp; &nbsp; &nbsp; &nbsp;</p>
            <p class="swipe-visual_3  active"> &nbsp; &nbsp; &nbsp; &nbsp; </p>
          </div>
        </div>
        <h2 class="text-2_semibold margin-small">IQOS ENHANCE</h2>
        <p class="text-5_regular">Personalize your online IQOS experience and get real time data about your device and
          more.
        </p>
        <div class="tour-seemore margin-medium my-iqos" (swipeup)="onSwipeUp($event)">
          <img src="../../../../assets/icons/seemore-icon.png" alt="See more" width="20"> <br>
          <p class="text-6_regular">Swipe to see more</p>
        </div>
      </div>
    </div>
  </div>
