<div class="layout-tour">
  <a href="#" class="skip-tour">
    <img src="../../../../assets/icons/dashboard-icon.png" width="25" alt="Dashboard">
    <span class="text-6_regular"> Skip Tour </span>
  </a>
  <div class="tour-information">
    <div class="tour-tracker">
      <h1 class="text-1_bold">01</h1>
      <div class="swipe-visual-tracker">
        <p class="swipe-visual_1 active"> &nbsp; &nbsp; &nbsp; &nbsp;</p>
        <p class="swipe-visual_2"> &nbsp; &nbsp; &nbsp; &nbsp;</p>
        <p class="swipe-visual_3"> &nbsp; &nbsp; &nbsp; &nbsp; </p>
      </div>
    </div>
    <h2 class="text-2_semibold margin-small">IQOS CLUB</h2>
    <p class="text-5_regular">Embrace an online community that awaits for you with various topics and enjoy limitless
      discount opportunities.</p>
    <div class="tour-seemore margin-medium">
      <img src="../../../../assets/icons/seemore-icon.png" alt="See more" width="20"> <br>
      <p class="text-6_regular">Swipe to see more</p>
    </div>
  </div>
</div>
