<div class="sidebar__container">
  <div class="sidebar__container-top">
    <img src="../../../../assets/icons/close-icon.png" width="25" alt="Close" class="close-icon close"
      (click)="closeSidebar($event)">
    <div class="sidebar__profile margin-large">
      <div class="sidebar__profile-image">

      </div>
      <p class="text-6_regular">USER PROFILE</p>
      <h3 class="text-4_regular">Anna Black</h3>
      <img src="../../../../assets/icons/edit-icon.png" width="25" alt="Edit" class="edit-icon">
    </div>
  </div>
  <div class="sidebar__container-menu">
    <p class="text-4_regular margin-small">COMMUNITY</p>
    <ul>
      <li class="text-5_regular general" (click)="closeSidebar($event)"> <span class="menu-icon menu-community">
        </span> General </li>
      <li class="text-5_regular referral" (click)="closeSidebar($event)"> <span class="menu-icon menu-referral"> </span>
        Referral </li>
    </ul>
    <p class="text-4_regular margin-small">SHOP</p>
    <ul>
      <li class="text-5_regular products" (click)="closeSidebar($event)"> <span class="menu-icon menu-products"> </span>
        Products <span class="notification text-6_semibold"> 1 NEW </span></li>
      <li class="text-5_regular special-offers" (click)="closeSidebar($event)"> <span class="menu-icon menu-specials">
        </span>
        Special Offers</li>
    </ul>
    <p class="text-4_regular margin-small">ENHANCE</p>
    <ul>
      <li class="text-5_regular my-iqos" (click)="closeSidebar($event)"> <span class="menu-icon menu-myiqos"> </span> My
        IQOS</li>
      <li class="text-5_regular customize" (click)="closeSidebar($event)"> <span class="menu-icon menu-customize">
        </span> Customize</li>
    </ul>
    <div class="notifications-switch">
      <p class="text-4_regular margin-small">NOTIFICATIONS</p>
      <!-- On/off switch frorm https://proto.io/freebies/onoff/ -->
      <div class="onoffswitch">
        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
        <label class="onoffswitch-label" for="myonoffswitch"></label>
      </div>
    </div>


    <div class="sidebar__container-menu_controls">
      <button type="text" class="btn-dark">Customize </button>
      <button type="text" class="btn-dark" routerLink="">Sign Out </button>
    </div>
  </div>
</div>
