@import "../../../../styles/general/colors.scss";

@keyframes sidebarAnimation {
  from {
    transform: translateX(-80vw);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.sidebar {

  &__container {
    animation: sidebarAnimation 0.5s forwards;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    z-index: 6;
    position: fixed;
    width: 80vw;
    box-shadow: $dark-shadow;

    &-top {
      background: url("../../../../assets/bg-menu-1.png");
      background-size: cover;
      padding: 2rem;
      padding-left: 2.5rem;
      color: white;
      width: 100%;

      .close-icon {
        float: right;
      }
    }

    &-menu {
      width: 100%;
      padding: 2rem;
      padding-left: 2.5rem;
      background: url("../../../../assets/bg-menu-2.png");
      position: relative;
      color: white;

      ul {
        list-style-type: none;

        li {
          display: flex;
          align-items: center;
          position: relative;
        }

        .notification {
          position: absolute;
          right: 0;
        }
      }

      .text-5_medium {
        color: $pinegreenshade1-col;
        display: inline-block;
        letter-spacing: 1px;
      }

      &_controls {
        width: 80vw;
        display: flex;
        flex-wrap: nowrap;
        align-content: stretch;
        margin-left: -2.5rem;
        position: absolute;
        bottom: 0;
        height: 45px;

        button.btn-dark {
          margin: 0;
          width: 100%;
          text-align: center;
          display: block;
          padding: 8px 14px;

          &:first-child {
            border-left: 0;
          }

          &:last-child {
            border-right: 0;
          }
        }

        // button.btn-dark {
        //   position: absolute;
        //   bottom: 0;
        //   width: 40%;
        //   margin: 0;
        //   margin-left: -4rem;

        //   &:nth-last-of-type(2) {
        //     margin-left: 40%;
        //   }
        // }
      }
    }
  }

  &__profile {
    display: grid;
    grid-template-columns: 70px minmax(0, 130px) 30px;
    grid-template-rows: 20px 30px;

    .text-4_regular {
      grid-column: 2/span 1;
      grid-row: 2/span 1;
    }

    .edit-icon {
      grid-column: 3/span 1;
      grid-row: 2/span 1;
    }

    &-image {
      background: url("../../../../assets/icons/user-icon.png");
      width: 50px;
      height: 50px;
      background-size: contain;
    }
  }
}

.menu-icon::before {
  content: "";
  display: inline-block;
  width: $icon-size-menu;
  height: $icon-size-menu;
  margin: 5px 10px;
  background-size: contain;
  background-position: bottom;
}

.menu-community::before {
  background: url("../../../../assets/icons/community-icon.png");
  background-size: contain;
  background-position: bottom;
}

.menu-referral::before {
  background: url("../../../../assets/icons/referral-icon.png");
  background-size: contain;
  background-position: bottom;
}

.menu-products::before {
  background: url("../../../../assets/icons/products-icon.png");
  background-size: contain;
  background-position: bottom;
}

.menu-specials::before {
  background: url("../../../../assets/icons/specialoffers-icon.png");
  background-size: contain;
  background-position: bottom;
}

.menu-myiqos::before {
  background: url("../../../../assets/icons/myiqos-icon.png");
  background-size: contain;
  background-position: bottom;
}

.menu-customize::before {
  background: url("../../../../assets/icons/customize-icon.png");
  background-size: contain;
  background-position: bottom;
}

.locked::before {
  background: url("../../../../assets/icons/locked-icon.png");
  background-size: contain;
  background-position: bottom;
}

// On/off switch frorm https://proto.io/freebies/onoff/

.onoffswitch {
  position: relative;
  width: 52px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  float: right;
  margin-top: 1rem;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  height: 18px;
  padding: 0;
  line-height: 20px;
  border: 0px solid #FFFFFF;
  border-radius: 28px;
  background-color: #989898;
  border: 1px solid $greyshade2-col;
}

.onoffswitch-label:before {
  content: "";
  display: block;
  width: 27px;
  margin: -4px;
  background: #D2CAC7;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 32px;
  border-radius: 30px;
}

.onoffswitch-checkbox:checked+.onoffswitch-label {
  background-color: #20202B;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.onoffswitch-checkbox:checked+.onoffswitch-label:before {
  right: 0px;
  background-color: #D2AA9D;
  box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.2);
}
