<section class="section__options">
  <div [ngClass]="filterClicked === 'buy-again' ? 'option option-active' : 'option'" (click)="changePreference($event)">
    <p class="text-5_regular buy-again"> Buy Again </p>
  </div>
  <div [ngClass]="filterClicked === 'devices' ? 'option option-active' : 'option'" (click)="changePreference($event)">
    <p class="text-5_regular devices"> IQOS Devices </p>
  </div>
  <div [ngClass]="filterClicked === 'heets' ? 'option option-active' : 'option'" (click)="changePreference($event)">
    <p class="text-5_regular heets"> HEETS </p>
  </div>
  <div [ngClass]="filterClicked === 'accessories' ? 'option option-active' : 'option'"
    (click)="changePreference($event)">
    <p class="text-5_regular accessories"> Accessories </p>
  </div>
  <div [ngClass]="filterClicked === 'all' ? 'option option-active' : 'option'" (click)="changePreference($event)">
    <p class="text-5_regular all"> All </p>
  </div>
</section>


<section class="section__products">
  <article class="product-container" *ngFor="let item of devicesArray">
    <img src="../../../../../assets/item-placeholder.png" alt="Item">
    <h4 class="text-4_regular"> HEETS Tobacco Flavor Collection </h4>
    <h5 class="text-5_regular"> 105.00 kr </h5>
    <p class="text-6_regular"> 3 packs of 20 tobacco sticks.</p>
    <button type="button" class="btn-light">Add to cart</button>
  </article>
  <article class="product-container">
    <img src="../../../../../assets/item-placeholder.png" alt="Item">
    <h4 class="text-4_regular"> HEETS Tobacco Flavor Collection </h4>
    <h5 class="text-5_regular"> 105.00 kr </h5>
    <p class="text-6_regular"> 3 packs of 20 tobacco sticks.</p>
    <button type="button" class="btn-light">Add to cart</button>
  </article>
  <article class="product-container">
    <img src="../../../../../assets/item-placeholder.png" alt="Item">
    <h4 class="text-4_regular"> HEETS Tobacco Flavor Collection </h4>
    <h5 class="text-5_regular"> 105.00 kr </h5>
    <p class="text-6_regular"> 3 packs of 20 tobacco sticks.</p>
    <button type="button" class="btn-light">Add to cart</button>
  </article>
</section>
