<section class="section__options">
  <div [ngClass]="filterClicked === 'buy-again' ? 'option option-active' : 'option'" (click)="changePreference($event)">
    <p class="text-5_regular buy-again"> Buy Again </p>
  </div>
  <div [ngClass]="filterClicked === 'devices' ? 'option option-active' : 'option'" (click)="changePreference($event)">
    <p class="text-5_regular devices"> IQOS Devices </p>
  </div>
  <div [ngClass]="filterClicked === 'heets' ? 'option option-active' : 'option'" (click)="changePreference($event)">
    <p class="text-5_regular heets"> HEETS </p>
  </div>
  <div [ngClass]="filterClicked === 'accessories' ? 'option option-active' : 'option'"
    (click)="changePreference($event)">
    <p class="text-5_regular accessories"> Accessories </p>
  </div>
  <div [ngClass]="filterClicked === 'all' ? 'option option-active' : 'option'" (click)="changePreference($event)">
    <p class="text-5_regular all"> All </p>
  </div>
</section>


<section class="section__products">
  <article class="product-container" [ngClass]="[item.type]" *ngFor="let item of products"
    [ngStyle]="{'display': filterClicked === 'all' ? 'block' : filterClicked === item.type ? 'block' : 'none'}">
    <img src="{{ '../../../../../assets/products/' + item.type + '/' + item.name + '.png'}}" alt="Item">
    <h4 class="text-4_regular"> {{item.displayName}}</h4>
    <h5 class="text-5_regular"> {{item.price}}</h5>
    <p class="text-6_regular"> {{item.description}}</p>
    <button type="button" class="btn-light">Add to cart</button>
  </article>
</section>
