@import "../../../../../styles/general/colors.scss";

section {
  padding: 2rem;
  background-color: white;
}

.section__options {

  .option {
    margin: 0.5rem;
    display: inline-block;
    padding: 1rem 1.5rem;
    background-color: $greyshade3-col;
    border-radius: 20px;
  }

  .option-active {
    background-color: $blueshade2-col;
  }

}


.section__products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .product-container {
    margin-top: 1.5rem;
    width: 160px;

    img {
      width: 100%;
    }

    .text-4_regular {
      color: $black-col;
      font-weight: 500;
    }

    .text-5_regular,
    .text-6_regular {
      font-weight: 500;
      color: $greyshade4-col;
      padding: 0.25rem;
    }

    .btn-light {
      width: 158px;
    }
  }
}
