.btn-dark {
  background-color: $blueshade1-col;
  color: $greyshade1-col;
  text-transform: uppercase;
  font-family: "NotoSans Bold";
  font-size: 1.4rem;
  letter-spacing: 0.75px;
  width: 100px;
  border: 1px solid $greyshade2-col;
  padding: 8px 18px;
  display: inherit;
  margin: 2rem auto;
  box-shadow: $light-shadow;

  &::after {
    content: "";
    margin-left: 10px;
    display: inline-block;
    height: 16px;
    width: 20px;
    background: url("../assets/icons/btn-icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center 2px;
  }
}

.basic-link {
  color: $white-col;
}

.btn-light {
  color: $black-col;
  border: 1px solid $greyshade2-col;
  background-color: white;
  margin: 1rem 0;
  padding: 0.25rem 0rem;
  text-transform: uppercase;
  font-family: "NotoSans Regular";
  font-size: 1.4rem;
  letter-spacing: 0.75px;

  &-quantity {
    padding: 0.5rem;
  }

  &-quantity::after {
    content: "";
    margin-left: 5px;
    display: inline-block;
    height: 16px;
    width: 20px;
    background: url("../assets/icons/downarrow-icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center 2px;
  }

  &-more {
    font-size: 2rem;
    line-height: 1;
    color: $greyshade5-col;
    width: 25px;
    height: 20px;
  }

  &-confirm {
    display: block;
    margin: 0 auto;
    width: 80px;
  }

}

.light-select {
  color: $black-col;
  border: 1px solid $greyshade2-col;
  font-family: "NotoSans Bold";
  font-size: 1.4rem;
  letter-spacing: 0.75px;
  width: 100px;
  padding: 0.25rem;
  padding-right: 3rem;
  padding-left: 1rem;
  height: 20px;
  background: url("../assets/icons/downarrow-icon.png") no-repeat 90% white;
  appearance: none;
}

// On/off switch frorm https://proto.io/freebies/onoff/

.onoffswitch {
  position: relative;
  width: 52px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  float: right;
  margin-top: 1rem;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  height: 18px;
  padding: 0;
  line-height: 20px;
  border: 0px solid #FFFFFF;
  border-radius: 28px;
  background-color: #989898;
  border: 1px solid $greyshade2-col;
}

.onoffswitch-label:before {
  content: "";
  display: block;
  width: 27px;
  margin: -4px;
  background: #D2CAC7;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 32px;
  border-radius: 30px;
}

.onoffswitch-checkbox:checked+.onoffswitch-label {
  background-color: #20202B;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.onoffswitch-checkbox:checked+.onoffswitch-label:before {
  right: 0px;
  background-color: #D2AA9D;
  box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.2);
}
