.btn-dark {
  background-color: $blueshade1-col;
  color: $greyshade1-col;
  text-transform: uppercase;
  font-family: "NotoSans Bold";
  font-size: 1.4rem;
  letter-spacing: 0.75px;
  width: 100px;
  border: 1px solid $greyshade2-col;
  padding: 8px 18px;
  display: inherit;
  margin: 2rem auto;
  box-shadow: $light-shadow;

  &::after {
    content: "";
    margin-left: 10px;
    display: inline-block;
    height: 16px;
    width: 20px;
    background: url("../assets/icons/btn-icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center 2px;
  }

  &:disabled {
    background-color: rgba(60, 60, 65, 0.5);
    color: $greyshade3-col;
  }
}

.basic-link {
  color: $white-col;
}

.btn-light {
  color: $black-col;
  border: 1px solid $greyshade2-col;
  background-color: white;
  margin: 1rem 0;
  padding: 0.25rem 0rem;
  text-transform: uppercase;
  font-family: "NotoSans Regular";
  font-size: 1.4rem;
  letter-spacing: 0.75px;

  &-quantity {
    padding: 0.5rem;
    width: 45px;
    float: right;
  }

  &-quantity::after {
    content: "";
    margin-left: 5px;
    display: inline-block;
    height: 16px;
    width: 20px;
    background: url("../assets/icons/downarrow-icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center 2px;
  }

  &-close {
    width: 20px;
    height: 17px;
    border-radius: 20px;
    color: $beigeshade0-col;
    border: 1px solid $beigeshade1-col;
    opacity: 0.7;
    align-self: flex-end;
  }

  &-more {
    font-size: 2rem;
    line-height: 1;
    color: $greyshade5-col;
    width: 25px;
    height: 20px;
  }

  &-confirm {
    display: block;
    margin: 0 auto;
    width: 80px;
  }

  &-modal {
    width: 100px;
    margin: 1rem;
  }
}

button:focus {
  outline: 0;
}

// Pulse animation from https://www.codesnail.com/css-pulse-animation/

.btn-dark:active {
  animation: pulse 0.5s 1;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(13, 69, 64, 0.7), 0 0 0 0 rgba(13, 69, 64, 0.7);
  }

  40% {
    box-shadow: 0 0 0 20px rgba(13, 69, 64, 0), 0 0 0 0 rgba(13, 69, 64, 0.7);
  }

  80% {
    box-shadow: 0 0 0 20px rgba(13, 69, 64, 0), 0 0 0 10px rgba(13, 69, 64, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(13, 69, 64, 0), 0 0 0 10px rgba(13, 69, 64, 0);
  }
}

.btn-light:active {
  animation: pulse-light 0.5s 1;
}

@keyframes pulse-light {
  0% {
    box-shadow: 0 0 0 0 rgba(210, 170, 157, 0.7), 0 0 0 0 rgba(210, 170, 157, 0.7);
  }

  40% {
    box-shadow: 0 0 0 20px rgba(210, 170, 157, 0), 0 0 0 0 rgba(210, 170, 157, 0.7);
  }

  80% {
    box-shadow: 0 0 0 20px rgba(210, 170, 157, 0), 0 0 0 10px rgba(210, 170, 157, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(210, 170, 157, 0), 0 0 0 10px rgba(210, 170, 157, 0);
  }
}

.light-select {
  color: $black-col;
  border: 1px solid $greyshade2-col;
  font-family: "NotoSans Bold";
  font-size: 1.4rem;
  letter-spacing: 0.75px;
  width: 100px;
  padding: 0.25rem;
  padding-right: 3rem;
  padding-left: 1rem;
  height: 20px;
  background: url("../assets/icons/downarrow-icon.png") no-repeat 90% white;
  appearance: none;
}
