$white-col: #FFFFFF;
$beigeshade0-col: #E3CAC2;
$beigeshade1-col: #D2AA9D;

$pinegreenshade0-col: #D9E2E3;
$pinegreenshade1-col: #869394;
$pinegreenshade2-col: #4D888B;

$greyshade0-col: #F7F7F7;
$greyshade1-col: #BCBCBF;
$greyshade2-col: #ABABAB;
$greyshade3-col: #7A7D82;
$greyshade4-col: #686868;

$blueshade0-col: #E3F4F6;
$blueshade1-col: #20202B;
$blueshade2-col: #1E222B;

$black-col: #282828;

$pink-col: #F36273;

// Utilities
$icon-size: 20px;
$icon-size-app: 25px;
$icon-size-menu: 28px;
