form {

  .form-group {
    position: relative;
    height: 7rem;
  }

  .basic-label {
    color: $pinegreenshade1-col;
    text-transform: uppercase;
    opacity: 0;
  }

  .form-icon-email {
    width: $icon-size;
    height: $icon-size;
    position: absolute;
    background: url("../assets/icons/email-icon.png");
    background-size: contain;
    top: 15px;
    left: 5px;
  }

  .form-icon-name {
    width: $icon-size;
    height: $icon-size;
    position: absolute;
    background: url("../assets/icons/userform-icon.png");
    background-size: contain;
    top: 15px;
    left: 5px;
  }

  .form-icon-password {
    width: $icon-size;
    height: $icon-size;
    position: absolute;
    background: url("../assets/icons/password-icon.png");
    background-size: contain;
    top: 15px;
    left: 5px;
  }

  .basic-input {
    height: 42px;
    box-sizing: border-box;
    width: 100%;
    background-color: transparent !important;
    border: 0;
    border-bottom: 1px solid $white-col;
    padding: 1rem 0.25rem;
    color: $white-col;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;


    &::placeholder {
      color: $white-col;
      font-family: "NotoSans Light";
      opacity: 0.45;
    }
  }

  .error {
    visibility: hidden;
    float: right;
    color: $pink-col;
  }

  .form-button {
    padding: 1.5rem;
  }
}

.basic-input:focus {
  outline: 0;
}

.basic-input:focus:invalid+.basic-label {
  position: absolute;
  left: 0;
  animation: animationLabel 0.25s forwards;
}

.basic-input:valid+.basic-label {
  position: absolute;
  left: 0;
  transform: translateX(0) translateY(-12px);
  opacity: 1;
}

@keyframes animationLabel {
  from {
    transform: scale(0.6) translateX(10px) translateY(0);
    opacity: 0;
  }

  to {
    transform: scale(1) translateX(0) translateY(-12px);
    opacity: 1;
  }
}
