form {

  .form-group {
    position: relative;
    height: 8rem;
    // margin: 1.5rem 0;

    // &:last-of-type {
    //   margin-bottom: 3rem;
    // }
  }

  .basic-label {
    color: $pinegreenshade1-col;
    text-transform: uppercase;
  }

  .form-icon-email {
    width: $icon-size;
    height: $icon-size;
    position: absolute;
    background: url("../assets/icons/email-icon.png");
    background-size: contain;
    top: 30px;
    left: 5px;
  }

  .form-icon-password {
    width: $icon-size;
    height: $icon-size;
    position: absolute;
    background: url("../assets/icons/password-icon.png");
    background-size: contain;
    top: 30px;
    left: 5px;
  }

  .basic-input {
    height: 42px;
    box-sizing: border-box;
    width: 100%;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid $white-col;
    padding: 1rem 0.25rem;
    color: $white-col;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;

    &::placeholder {
      color: $white-col;
      opacity: 0.85;
    }
  }

  .error {
    visibility: hidden;
    float: right;
    color: $pink-col;
  }

  .form-button {
    padding: 1.5rem;
  }
}
