.layout-intro {
  padding: 0 3.5rem;
  padding-top: 6rem;
}

.layout-tour {
  padding: 0 2rem;
  color: $white-col;
}

.margin-small {
  margin: 0.75rem auto;
}

.margin-medium {
  margin: 1.5rem auto;
}

.margin-large {
  margin: 3rem auto;
}

.padding-xl {
  padding: 4.5rem auto;
}

.margin-xl {
  margin: 4.5rem auto;
}

.margin-xxl {
  margin: 6rem auto;
}
