@font-face {
  font-family: "NotoSans Bold";
  src: url("../assets/fonts/NotoSans-Bold.ttf");
}

@font-face {
  font-family: "NotoSans Semibold";
  src: url("../assets/fonts/NotoSans-SemiBold.ttf");
}

@font-face {
  font-family: "NotoSans Medium";
  src: url("../assets/fonts/NotoSans-Medium.ttf");
}

@font-face {
  font-family: "NotoSans Regular";
  src: url("../assets/fonts/NotoSans-Regular.ttf");
}

@font-face {
  font-family: "NotoSans Light";
  src: url("../assets/fonts/NotoSans-Light.ttf");
}


.text-1_bold {
  font-family: "NotoSans Bold";
  font-size: 7.6rem;
}

.text-2_bold {
  font-family: "NotoSans Bold";
  font-size: 2.6rem;
}

.text-2_semibold {
  font-family: "NotoSans Semibold";
  font-size: 2.6rem;
}

.text-2_medium {
  font-family: "NotoSans Medium";
  font-size: 2.6rem;
}

.text-3_bold {
  font-family: "NotoSans Bold";
  font-size: 2.4rem;
}

.text-3_medium {
  font-family: "NotoSans Medium";
  font-size: 2.4rem;
}

.text-4_bold {
  font-family: "NotoSans Bold";
  font-size: 2.2rem;
}

.text-4_semibold {
  font-family: "NotoSans Semibold";
  font-size: 2.2rem;
}

.text-4_medium {
  font-family: "NotoSans Medium";
  font-size: 2.2rem;
}

.text-4_regular {
  font-family: "NotoSans Regular";
  font-size: 2.2rem;
}

.text-5_bold {
  font-family: "NotoSans Bold";
  font-size: 1.8rem;
}

.text-5_semibold {
  font-family: "NotoSans Semibold";
  font-size: 1.8rem;
}

.text-5_medium {
  font-family: "NotoSans Medium";
  font-size: 1.8rem;
}

.text-5_regular {
  font-family: "NotoSans Regular";
  font-size: 1.8rem;
}

.text-6_regular {
  font-family: "NotoSans Regular";
  font-size: 1.5rem;
}

.text-6_semibold {
  font-family: "NotoSans Semibold";
  font-size: 1.5rem;
}

.text-6_medium {
  font-family: "NotoSans Medium";
  font-size: 1.6rem;
}
